
 <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
      body {
      	font-family: Arial;
      }
      .friend {
      	font-size: 20px;
      	margin: 5px; /* This margin collapses! */
      	display: block; /*takes up the entire container*/
      	line-height: 80px; /* set to height of picture, centers text vertically in div. Only works for one line of text */
      	height: 80px; /* set to the height of the picture, prevents weird alignment of divs */
      }

      .friend img {
      	margin-right: 10px;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuDVr4-db36hkcu4EKdCLOdOK5yikibAs&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(39.828175,-98.5795),
					zoom: 4,
					//disableDefaultUI: true,
					//disableDoubleClickZoom: true,
					//keyboardShortcuts: false,
					panControl: false,
					rotateControl: false,
					streetViewControl: false,
					mapTypeControl: false,
					minZoom: 3,
					maxZoom: 10,
					mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //why can't generateMarkers() see these variables?
        var oneWindow = new google.maps.InfoWindow(); //one window to rule them all.
		var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions)
		generateMarkers(map, oneWindow);
      }

      function generateMarkers(inputMap, infoWindow) {
				
				<% if current_user.been_checked != true %>
					<% current_user.places %>
				<%end%>
				//instantiate a counter variable
				<% count = 0 %>

				//instantiate an empty hash to store hometown=>Marker pairings
				//Should we store LatLong instead of hometowns?
				<% placedMarkers = {} %>

				<%current_user.friends.each do |friend| %>
					console.log("We're about to load a marker");
					//Create a new marker on each loop, place on the map.
					//each marker will have a unique name attached to it.

					//Is there already a marker at this hometown?
					<% if placedMarkers[friend.hometown] == nil %>
						var <%= "marker#{count}" %> = new google.maps.Marker({
							position: new google.maps.LatLng(
								<%= friend.hometown_latitude %>, // used to be current_user.hometowns_info[each_hometown]["latitude"]
								<%= friend.hometown_longitude %>), //Longitude
							map: inputMap,
							title: '<%=friend.hometown%>'
						});


						var <%= "info#{count}" %> = 
							'<strong><%= friend.hometown%></strong><hr/><div class="friend"><IMG BORDER="0" ALIGN="Left" SRC="http://graph.facebook.com/<%=friend.image%>/picture?width=80&height=80"> <%= friend.name %></div>';//used to be just friend.name

						//Add the marker to the placedMakers hash
						<% placedMarkers[friend.hometown] = "info#{count}"  %>

						//add DOM listener
						google.maps.event.addListener(<%= "marker#{count}" %>, 'click', function() {
  								infoWindow.setContent(<%=placedMarkers[friend.hometown]%>);
  								infoWindow.open(inputMap, <%= "marker#{count}"%>);
							});

						//increment the counter
						<% count=count+1 %>

					<% else %>
					//grab the infowindow object.  Append new friends name there via the getContent() and
					//setContent() method
<<<<<<< HEAD
						var temp = <%= placedMarkers[friend.hometown] %>.getContent();
						<%= placedMarkers[friend.hometown] %>.setContent(temp+'<div class="friend"><IMG BORDER="0" ALIGN="Left" SRC="http://graph.facebook.com/<%=friend.image%>/picture?width=80&height=80"> <%= friend.name %></div>');
						
						//used to be + '<%=friend.name%>'


=======
						var temp = <%= placedMarkers[friend.hometown] %>;
						<%= placedMarkers[friend.hometown] %> = temp+'<div class="friend"><IMG BORDER="0" ALIGN="Left" SRC="http://graph.facebook.com/<%=friend.image%>/picture?width=80&height=80"> <%= friend.name %></div>';
>>>>>>> 54e235eb8560a73f82c48a6a1446b8ab79d2f168
					<%end%>

				<%end%>
			

			}

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>



		


