
 <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
      body {
      	font-family: Arial;
      }
      .friend {
      	font-size: 20px;
      	margin: 5px; /* This margin collapses! */
      	display: block; /*takes up the entire container*/
      	line-height: 80px; /* set to height of picture, centers text vertically in div. Only works for one line of text */
      	height: 80px; /* set to the height of the picture, prevents weird alignment of divs */
      }

      .friend img {
      	margin-right: 10px;
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuDVr4-db36hkcu4EKdCLOdOK5yikibAs&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(39.828175,-98.5795),
					zoom: 4,
					//disableDefaultUI: true,
					//disableDoubleClickZoom: true,
					//keyboardShortcuts: false,
					panControl: false,
					rotateControl: false,
					streetViewControl: false,
					mapTypeControl: false,
					minZoom: 3,
					maxZoom: 10,
					mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        //why can't generateMarkers() see these variables?
        var oneWindow = new google.maps.InfoWindow(); //one window to rule them all.
		var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions)
		generateMarkers(map, oneWindow);
      }

      function generateMarkers(inputMap, infoWindow) {
				
				<% if current_user.been_checked == false %>
					console.log("errrr99");
					<% current_user.places %>
				<%end%>
				//instantiate a counter variable
				<% count = 0 %>

				//instantiate an empty hash to store hometown=>Marker pairings
				//Should we store LatLong instead of hometowns?
				<% placedMarkers = {} %>

				<%current_user.locations.each do |location| %>
					// console.log("We're about to load a marker");
					//Create a new marker on each loop, place on the map.
					//each marker will have a unique name attached to it.

					//Is there already a marker at this hometown?
					<% if placedMarkers[location.fb_id] == nil && location.is_hometown ==true %>
						var <%= "marker#{count}" %> = new google.maps.Marker({
							position: new google.maps.LatLng(
								<%= location.latitude %>, // used to be current_user.hometowns_info[each_hometown]["latitude"], then friend.hometown.latitude
								<%= location.longitude %>), //Longitude
							map: inputMap,
							title: '<%=location.name%>'
						});

						//STOPPED HERE 

						var <%= "info#{count}"%> = '<strong><%= location.name%></strong><hr/>';

						<% location.friends.each do |friend| %>
							<%= "info#{count}"%> += '<div class="friend"><IMG BORDER="0" ALIGN="Left" SRC="http://graph.facebook.com/<%=friend.image%>/picture?width=80&height=80"> <%= friend.name %></div>';
						<%end%>
						<% placedMarkers[location.fb_id] = "info#{count}"; %>
						//add DOM listener
						google.maps.event.addListener(<%= "marker#{count}" %>, 'click', function() {
							console.log("here");
							infoWindow.setContent(<%=placedMarkers[location.fb_id]%>);
							console.log("here1");
							infoWindow.open(inputMap, <%= "marker#{count}"%>);
						});
						<% count = count +1; %>
					<%end%>

					

				<%end%>
			

			}

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"/>
  </body>



		


